<ion-view view-title="{{ctrl.contactable.name}}" can-swipe-back="false">

    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-home" href="#/tab/contactables"></a>
        </ion-nav-buttons>


        <ion-nav-buttons side="secondary">
            <button class="button button-icon icon ion-android-more-vertical"
                    ng-click="ctrl.showSideMenu()">
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="padding" scroll="true" overflow-scroll="true">

        <div  ng-show="ctrl.contactable.name">

            <div class="card">
                <div class="row">
                    <div class="col">
                        <h2>{{ctrl.contactable.name}}</h2>
                        <div ng-if="ctrl.contactable.type === 'Contact'">
                            <p>&nbsp;{{ctrl.contactable.company}}</p>
                        </div>
                        <div ng-if="ctrl.contactable.type === 'Contact Group'">
                            <p>&nbsp;{{ctrl.contactable.country}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list card" ng-if="ctrl.contactable.email || ctrl.contactable.contactNumbers.length > 0">
                <div class="item row" ng-if="ctrl.contactable.email">
                    <div class="col col-66">
                        <span>{{ctrl.contactable.email}}</span>
                    </div>
                    <div class="col col-33">
                        <a href="mailto:{{ctrl.contactable.email}}"
                            class="button">
                            <span class="icon ion-email">&nbsp;Email</span>
                        </a>
                    </div>
                </div>

                <div class="item row"
                     ng-repeat="contactNumber in ctrl.contactable.contactNumbers">
                    <div class="col col-66">
                        <span>{{contactNumber.number}}</span>
                    </div>
                    <div class="col col-33">
                        <a href="tel:{{contactNumber.number}}"
                           class="button">
                            <span class="icon ion-android-call">&nbsp;{{contactNumber.type}}</span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="list card" ng-if="ctrl.contactable.type === 'Contact'">
                <ion-item ng-repeat="contactRole in ctrl.contactable.contactRoles"
                          class="item-avatar item-icon-left"
                          type="item-text-wrap"
                          href="#/tab/contactables/{{contactRole.contactGroup.$$instanceId}}" >
                    <h3 class="{{ctrl.cachedStateCssClass(contactRole.contactGroup.$$instanceId)}}">{{contactRole.contactGroupName}}</h3>
                    <p>
                        <span ng-show="isDefined(contactRole.contactGroupCountryName)">{{contactRole.contactGroupCountryName}}</span>
                        <span ng-show="isDefined(contactRole.roleName)">({{contactRole.roleName}})</span>
                    </p>
                    <i class="icon ion-android-contacts"></i>
                </ion-item>
            </div>

            <div class="list card" ng-if="ctrl.contactable.type === 'Contact Group'">
                <ion-item ng-repeat="contactRole in ctrl.contactable.contactRoles"
                          class="item-avatar item-icon-left"
                          type="item-text-wrap"
                          href="#/tab/contactables/{{contactRole.contact.$$instanceId}}" >
                    <h3 class="{{ctrl.cachedStateCssClass(contactRole.contact.$$instanceId)}}">{{contactRole.contactName}}</h3>
                    <p>
                        <span ng-show="isDefined(contactRole.contactCompany)">{{contactRole.contactCompany}}</span>
                        <span ng-show="isDefined(contactRole.roleName)"> ({{contactRole.roleName}})</span>
                    </p>
                    <i class="icon ion-android-contact"></i>
                </ion-item>
            </div>

            <div class="card" ng-if="ctrl.contactable.type === 'Contact Group' && ctrl.contactable.address">
                <div class="item item-divider">
                    Address
                </div>
                <div class="item multiline">
                    {{ctrl.contactable.address}}
                </div>
            </div>

            <div class="card" ng-if="ctrl.contactable.notes">
                <div class="item item-divider">
                    Notes
                </div>
                <div class="item item-text-wrap">
                    {{ctrl.contactable.notes}}
                </div>
            </div>

        </div>
        <p ng-show="ctrl.message">{{ ctrl.message }}</p>

    </ion-content>

</ion-view>
